/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Mulish:400,500,600&display=swap");

body {
  margin: 0;
  font-family: "Mulish", -apple-system, /* iOS / macOS */ BlinkMacSystemFont,
    /* Chrome on macOS */ "Segoe UI", /* Windows */ Roboto,
    /* Android */ "Helvetica Neue", /* Older iOS */ Arial, sans-serif;
  background: #f6f7f9;
  color: #1f2937;
}
